.pagination {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--font-color);
  font-size: 1.25rem;

  &-link {
    padding: 0.25rem 0.5rem;
    border-radius: 25%;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin-right: 0.5rem;

    &:hover {
      box-shadow: var(--box-hover);
    }
  }

  .active {
    box-shadow: var(--box-hover);
  }
}
