.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  color: var(--font-color);
  background-color: var(--bg-accent);
  border-radius: var(--border-radius);
  padding-left: 1rem;
  margin: 0;
  cursor: pointer;

  &-text {
    margin-left: 1rem;
  }

  &:hover {
    filter: brightness(var(--hover-brightness));
  }

  & svg {
    fill: var(--font-color);
  }
}
