.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-nav);
  color: var(--white);
  padding: 1rem 1rem;
  border-bottom: 1px solid var(--border-color);

  & svg {
    fill: #fff;
    width: 24px;
    height: 24px;
  }
}
