.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-size);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-secondary);
  color: var(--white);
  padding: 1rem 1rem;

  & * {
    background-color: var(--bg-secondary);
  }

  & svg {
    fill: #fff;
    width: 24px;
    height: 24px;
  }
}
