@import "../../scss/variables";

.items-list {
  width: 100%;
  border: 2px solid var(--bg-accent);
  border-radius: 5px;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 2px solid var(--bg-accent);
  transition: box-shadow 200ms ease-in-out;

  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &:hover {
    box-shadow: var(--box-hover);
  }
  &-label {
    width: 50%;
  }
  &-info {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: left;

    &-amount {
      width: 50%;
    }
    &-date {
      width: 50%;
    }
  }
  &-actions {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 200ms ease;
    &:hover {
      box-shadow: var(--box-hover);
    }
    & svg {
      fill: var(--danger);
    }
  }

  @media (max-width: $tablet) {
    &-wrapper {
      flex-direction: column;
      padding-left: 10px;
    }
    &-label {
      width: 100%;
      margin-bottom: 5px;
    }
    &-info {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      & span {
        margin-right: 1rem;
      }
    }
  }
}
