.theme-switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  background-color: var(--bg-accent);

  label {
    margin-left: 10px;
    font-size: 1rem;
    background-color: var(--bg-accent);
  }
}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  background-color: var(--bg-accent);
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;

  &:hover {
    filter: none;
  }
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
