.dropdown {
  position: absolute;
  top: calc(var(--nav-size) + 5px);
  right: -105px;
  width: 240px;
  transform: translateX(-45%);
  background-color: var(--bg-accent);
  border-radius: var(--border-radius);
  padding: 1rem 0;
  overflow: hidden;
  transition: height var(--speed) ease;
  color: var(--font-color);
  box-sizing: content-box;

  & * {
    background-color: var(--bg-accent);
  }

  &-item {
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: var(--border-radius);
    margin: 0 1rem;
    padding: 0.5rem;
    cursor: pointer;

    &:hover {
      filter: brightness(var(--hover-brightness));
    }

    & svg {
      width: 24px;
      height: 24px;
      fill: var(--font-color);
    }
  }
}

.menu {
  width: 100%;
  background-color: var(--bg-accent);

  &-primary-enter {
    position: absolute;
    transform: translateX(-115%);
  }

  &-primary-enter-active {
    transform: translateX(0);
    transition: all var(--speed) ease;
  }

  &-primary-exit {
    position: absolute;
  }

  &-primary-exit-active {
    transform: translateX(-115%);
    transition: all var(--speed) ease;
  }

  &-secondary-enter {
    position: absolute;
    transform: translateX(115%);
  }

  &-secondary-enter-active {
    transform: translateX(0);
    transition: all var(--speed) ease;
  }

  &-secondary-exit {
  }

  &-secondary-exit-active {
    transform: translateX(115%);
    transition: all var(--speed) ease;
  }
}
