body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: var(--font-size);
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --gray0: #f8f8f8;
  --gray1: #f1f2f3;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --font-size: 16px;
  --nav-size: 3rem;
  --border-radius: 8px;
  --button-size: calc(var(--nav-size) * 0.8);
  --speed: 500ms; // for animations
}

.dark-theme {
  --bg: var(--gray6);
  --bg-nav: var(--gray5);
  --bg-accent: var(--gray4);
  --font-color: var(--gray0);
  --border-color: var(--gray5);
  --hover-brightness: 1.4;
  --dark-switch-shadow: #fce477;
  --box-shadow-right: 7px 0px 9px -4px rgba(255, 255, 255, 0.53);
}
.light-theme {
  --bg: var(--white);
  --bg-nav: var(--blue);
  --bg-accent: var(--gray1);
  --font-color: var(--gray6);
  --border-color: var(--gray2);
  --hover-brightness: 0.9;
  --light-switch-shadow: #373d4e;
  --box-shadow-right: 7px 0px 9px -4px rgba(0, 0, 0, 0.53);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}
