body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: var(--font-size);
  background-color: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

:root {
  //colors
  --gray0: #ffffff;
  --gray1: #f1f2f3;
  --gray2: #b2becd;
  --gray3: #6c7983;
  --gray4: #454e56;
  --gray5: #2a2e35;
  --gray6: #12181b;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  //utils
  --font-size: 16px;
  --nav-size: 4rem;
  --border-radius: 8px;
  --button-size: calc(var(--nav-size) * 0.8);
  --speed: 500ms; // for animations
  --lighten: inset 0 0 0 10em rgba(255, 255, 255, 0.2);
  --darken: inset 0em 0em 0em 10em rgba(0, 0, 0, 0.1);
}

.App {
  width: 100%;
  height: 100vh;
  padding: var(--nav-size) 1rem 0 1rem;
  color: var(--font-color);
  background-color: var(--bg-primary);
}

.dark-theme {
  --bg-primary: var(--gray6);
  --bg-secondary: var(--gray5);
  --bg-accent: var(--gray5);
  --font-color: var(--gray0);
  --border-color: var(--gray4);
  --muted-color: rgba(255, 255, 255, 0.54);
  --hover-brightness: 1.2;
  --box-hover: var(--lighten);
}
.light-theme {
  --bg-primary: var(--gray0);
  --bg-secondary: var(--primary);
  --bg-accent: var(--gray1);
  --font-color: var(--gray6);
  --border-color: var(--gray3);
  --muted-color: rgba(0, 0, 0, 0.54);
  --hover-brightness: 0.9;
  --box-hover: var(--darken);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

input,
button {
  outline: none;
}

button[disabled] {
  background-color: #cccccc;
  color: #666666;

  &:hover {
    box-shadow: none;
  }
}
