.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  &-btn {
    width: var(--button-size);
    height: var(--button-size);
    background-color: var(--bg-nav);
    border-radius: 50%;
    padding: 6px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: filter 300ms;
    cursor: pointer;

    &:hover {
      filter: brightness(var(--hover-brightness));
    }
  }

  & svg {
    fill: var(--font-color);
    width: 24px;
    height: 24px;
  }
}
